Exercice 1 


    A companyâ€™s financial reports stored in an Excel file  : structured data
    Photographs uploaded to a social media platform : unstructured data
    A collection of news articles on a website : unstructured data
    Inventory data in a relational database : structured data
    Recorded interviews from a market research study : unstructured data

Exercice 2


    A series of blog posts about travel experiences :

    To convert this unstructured data to structured, we can create a datasheet where each travel experience is classified in a column A called travel_XP, in a second one the duration and in a third a short resume for example.

    Audio recordings of customer service calls.

    To convert this unstructured data to structured, we can create a datasheet where each audio record is classified in a column A called Audio_record, in a second one the name of the customer helpdesk employee and in a third a short resume for example.

    Handwritten notes from a brainstorming session.

    To convert this unstructured data to structured, we can create a datasheet where each idea is classified in a column A called Idea, in a second one the name of the person who gets it and in a third a short resume for example


    A video tutorial on cooking.

    To convert this unstructured data to structured, we can create a datasheet where each steps of the recipe is classified in a column A called step, in a second one the kitchen tools needed and in a third the ingredients for example.

In [ ]:
# Exercise 3

import pandas as pd

df = pd.read_csv('train.csv')
print(df.head())
df.describe()
df.info()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#Exercice 4

import pandas as pd

df = pd.read_csv('Iris_dataset.csv')
print(df.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [6]:
#Exercise 5

import pandas as pd

User_books = {
    "Name": ["Book1", "Book2", "Book3"],  
    "Category": ["Fiction", "Non-Fiction", "Science"],  
    "Usage": ["Reference", "Leisure", "Study"],  
    "Type": ["Hardcover", "Paperback", "E-book"],  
    "Style": ["Modern", "Classic", "Technical"] 
}

# Create DataFrame from dictionary
User_books_data = pd.DataFrame(User_books)

# Print first few rows
print(User_books_data.head())

#Export to Excel file
User_books_data.to_excel('books.xlsx', sheet_name='New_Books')

#Export to JSON

User_books_data.to_json('filename.json')

    Name     Category      Usage       Type      Style
0  Book1      Fiction  Reference  Hardcover     Modern
1  Book2  Non-Fiction    Leisure  Paperback    Classic
2  Book3      Science      Study     E-book  Technical

In [ ]:
# Exercise 6

import pandas as pd

df = pd.read_json('posts.json')
print(df.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...