In [1]:
list = [1, 2, 3, 4]

In [3]:
for i in list:
    print(i)

1
2
3
4

In [4]:
for i in list:
    print(i*20)

20
40
60
80

In [5]:
name = ["Elie", "Tim", "Matt"]

In [9]:
name2 =[i[0] for i in name]
name2

['E', 'T', 'M']

In [10]:
numbers = [1, 2, 3, 4, 5, 6]

In [17]:
list= [i for i in numbers if i % 2 == 0]
list

[2, 4, 6]

In [18]:
list = [1, 2, 3, 4]

In [19]:
list2 = [3, 4, 5, 6]

In [31]:
list3 = [i for i in list if i in list2]
list3

[3, 4]

In [41]:
name3 = ["Elie", "Tim", "Matt"]

nom = [i[::-1].lower() for i in name3]

nom

['eile', 'mit', 'ttam']

In [43]:
x ="first"
y = "third"
list4 = [i for i in x if i in y]
list4

['i', 'r', 't']

In [45]:
list = range(1,100)
list6= [i for i in list if i % 12 == 0]
list6

[12, 24, 36, 48, 60, 72, 84, 96]

In [ ]:
a ="amazing"

list = [i for i in a if i not in "aeoui"]
list

['m', 'z', 'n', 'g']

In [62]:
list9 = [[] for i in range(3)]
list9

[[], [], []]

In [69]:
list9[0].append("1,2,3")
list9[1].append("1,2,3")
list9[2].append("1,2,3")

list9

[['1,2,3', '1,2,3', '1,2,3', '1,2,3', '1,2,3', '1,2,3'],
 ['1,2,3', '1,2,3', '1,2,3', '1,2,3', '1,2,3'],
 ['1,2,3', '1,2,3', '1,2,3', '1,2,3']]

In [71]:
grid = [[i for i in range(10)] for _ in range(10)]
grid

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]