 How Much Sleep Do Americans Really Get?

    Load the dataset into Jupyter or Google Colab.
    Display the first few rows.
    Provide a brief dataset description.

In [ ]:
import pandas as pd

df = pd.read_csv(r'data_center\Time Americans Spend Sleeping.csv')
print(df.head())
df.describe()
df.info()

Global Trends in Mental Health Disorder.

    Load the dataset into Jupyter or Google Colab.
    Display the first few rows.
    Provide a brief dataset description.

In [ ]:
df = pd.read_csv('Mental health Depression disorder Data.csv')
print(df.head())
df.describe()
df.info()

   index       Entity Code  Year Schizophrenia (%) Bipolar disorder (%)  \
0      0  Afghanistan  AFG  1990           0.16056             0.697779
1      1  Afghanistan  AFG  1991          0.160312             0.697961
2      2  Afghanistan  AFG  1992          0.160135             0.698107
3      3  Afghanistan  AFG  1993          0.160037             0.698257
4      4  Afghanistan  AFG  1994          0.160022             0.698469

  Eating disorders (%)  Anxiety disorders (%)  Drug use disorders (%)  \
0             0.101855               4.828830                1.677082
1             0.099313               4.829740                1.684746
2             0.096692               4.831108                1.694334
3             0.094336               4.830864                1.705320
4             0.092439               4.829423                1.716069

   Depression (%)  Alcohol use disorders (%)
0        4.071831                   0.672404
1        4.079531                   0.671768
2        4.088358                   0.670644
3        4.096190                   0.669738
4        4.099582                   0.669260
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108553 entries, 0 to 108552
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      108553 non-null  int64
 1   Entity                     108553 non-null  object
 2   Code                       103141 non-null  object
 3   Year                       108553 non-null  object
 4   Schizophrenia (%)          25875 non-null   object
 5   Bipolar disorder (%)       19406 non-null   object
 6   Eating disorders (%)       100236 non-null  object
 7   Anxiety disorders (%)      6468 non-null    float64
 8   Drug use disorders (%)     6468 non-null    float64
 9   Depression (%)             6468 non-null    float64
 10  Alcohol use disorders (%)  6468 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 9.1+ MB

C:\Users\Zbook\AppData\Local\Temp\ipykernel_24712\3410809093.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Mental health Depression disorder Data.csv')

How Much Sleep Do Americans Really Get?, Global Trends in Mental Health Disorder and Credit Card Approvals.

    Load the dataset into Jupyter or Google Colab.
    Display the first few rows.
    Provide a brief dataset description.

In [ ]:
df = pd.read_csv(r'C:\Users\Zbook\Desktop\GenAI\Fichier de travail\clean_dataset.csv')
print(df.head())
df.describe()
df.info()

   Gender    Age   Debt  Married  BankCustomer     Industry Ethnicity  \
0       1  30.83  0.000        1             1  Industrials     White
1       0  58.67  4.460        1             1    Materials     Black
2       0  24.50  0.500        1             1    Materials     Black
3       1  27.83  1.540        1             1  Industrials     White
4       1  20.17  5.625        1             1  Industrials     White

   YearsEmployed  PriorDefault  Employed  CreditScore  DriversLicense  \
0           1.25             1         1            1               0
1           3.04             1         1            6               0
2           1.50             1         0            0               0
3           3.75             1         1            5               1
4           1.71             1         0            0               0

        Citizen  ZipCode  Income  Approved
0       ByBirth      202       0         1
1       ByBirth       43     560         1
2       ByBirth      280     824         1
3       ByBirth      100       3         1
4  ByOtherMeans      120       0         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          690 non-null    int64
 1   Age             690 non-null    float64
 2   Debt            690 non-null    float64
 3   Married         690 non-null    int64
 4   BankCustomer    690 non-null    int64
 5   Industry        690 non-null    object
 6   Ethnicity       690 non-null    object
 7   YearsEmployed   690 non-null    float64
 8   PriorDefault    690 non-null    int64
 9   Employed        690 non-null    int64
 10  CreditScore     690 non-null    int64
 11  DriversLicense  690 non-null    int64
 12  Citizen         690 non-null    object
 13  ZipCode         690 non-null    int64
 14  Income          690 non-null    int64
 15  Approved        690 non-null    int64
dtypes: float64(3), int64(10), object(3)
memory usage: 86.4+ KB

Exercice 3 

Data columns (total 9 columns):	 
 #   Column                    Non-Null Count  Dtype  	 
---  ------                    --------------  -----  	 
 0   index                     945 non-null    int64  	quantitative
 1   Year                      945 non-null    int64  	quantitative
 2   Period                    945 non-null    object 	qualitative
 3   Avg hrs per day sleeping  945 non-null    float64	quantitative
 4   Standard Error            945 non-null    float64	quantitative
 5   Type of Days              945 non-null    object 	qualitative
 6   Age Group                 945 non-null    object 	qualitative
 7   Activity                  945 non-null    object 	qualitative
 8   Sex                       945 non-null    object 	qualitative
dtypes: float64(2), int64(2), object(5)	 
memory usage: 66.6+ KB	 
	
#   Column                     Non-Null Count   Dtype  	 
---  ------                     --------------   -----  	 
 0   index                      108553 non-null  int64  	quantitative
 1   Entity                     108553 non-null  object 	qualitative
 2   Code                       103141 non-null  object 	qualitative
 3   Year                       108553 non-null  object 	qualitative
 4   Schizophrenia (%)          25875 non-null   object 	qualitative
 5   Bipolar disorder (%)       19406 non-null   object 	qualitative
 6   Eating disorders (%)       100236 non-null  object 	qualitative
 7   Anxiety disorders (%)      6468 non-null    float64	quantitative
 8   Drug use disorders (%)     6468 non-null    float64	quantitative
 9   Depression (%)             6468 non-null    float64	quantitative
 10  Alcohol use disorders (%)  6468 non-null    float64	quantitative
	
	
Data columns (total 16 columns):	 
Data columns (total 16 columns):	 
 #   Column          Non-Null Count  Dtype  	 
---  ------          --------------  -----  	 
 0   Gender          690 non-null    int64  	quantitative
 1   Age             690 non-null    float64	quantitative
 2   Debt            690 non-null    float64	quantitative
 3   Married         690 non-null    int64  	quantitative
 4   BankCustomer    690 non-null    int64  	quantitative
 5   Industry        690 non-null    object 	qualitative
 6   Ethnicity       690 non-null    object 	qualitative
 7   YearsEmployed   690 non-null    float64	quantitative
 8   PriorDefault    690 non-null    int64  	quantitative
 9   Employed        690 non-null    int64  	quantitative
 10  CreditScore     690 non-null    int64  	quantitative
 11  DriversLicense  690 non-null    int64  	quantitative
 12  Citizen         690 non-null    object 	qualitative
 13  ZipCode         690 non-null    int64  	quantitative
 14  Income          690 non-null    int64  	quantitative
 15  Approved        690 non-null    int64  	quantitative